.home {
    &__heading {
        color: red;
        text-align: center;
    }

    &__search {
        padding: 20px 100px;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        &__item {
            cursor: pointer;
            text-align: center;
            width: 20%;
            background-color: chocolate;
            border-radius: 10px;
        }
    }

    .item {
        &__icon {
            font-size: 50px;
            color: #fff;
        }
    }
}